body {
  background-color: black;
  color: white;
}

main {
  padding: 90px;
  max-width: 1000px;
  margin: auto;
}

.left {
	float:left;
	padding: 10px 10px 10px 0px;
}

.right {
	float: right;
	padding: 10px 0px 10px 10px;
}

.left, .right {
	width: 250px;
	height: auto;
}
